@font-face {
    font-family: 'mountainbridge';
    src: url('../fonts/mountainbridge-webfont.woff2') format('woff2'),
    url('../fonts/mountainbridge-webfont.woff') format('woff'),
    url('../fonts/MountainBridge.otf') format('opentype');
    font-weight:normal;
    font-style:normal;
}

h1 {
    font-family: 'mountainbridge', Arial, sans-serif;
    /*font-weight:bold;*/
    font-style:italic;
    padding-top: 8rem;
    padding-bottom: 8rem;
}

#myName {
    background-color: black;
    color: white;
}

#portfolio {
    background-color: black;
}
