body {
    background-color: rgb(75,150,250);
}

img[alt="My Picture"] {
    width: 10em;
    float: left;
    margin-right: 2em;
}

img[alt*="Mobile"] {
    width: 20em;
    margin-right: 1em;
}

table {
    width: 50%;
    border: solid black;
}

table th td {
    border: 1px solid black;
}
